
.tool-epman {
  margin-right: 0.25em;
}

.tool-epman a,
.tool-epman a:visited,
.tool-epman a:hover,
.tool-epman a:active
{
  color: #098aba;
  font-weight: normal;
  font-style: normal;
}

.tool-epman .vspace {
  margin-top: 2.0em;
}

.tool-epman .record-list {
  margin-top: 1.5em;
  margin-bottom: 1.0em;
}

.tool-epman .record-header {
  padding: 0.25em;
  padding-right: 0.5em;
  color: #098aba;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.2em;
  vertical-align: middle;
}

.tool-epman .record.expanded > .record-header {
  background-color: #f0f0f0;
}

.tool-epman .record-header:hover,
.tool-epman .record:hover > .record-header {
  background-color: #e8e8e8;
}

.tool-epman .show-more {
  background-image: url([[pix:tool_epman|collapsed]]);
  background-repeat: no-repeat;
  background-position: 0.25em center;
  padding-left: 2.0em;
}

.tool-epman .record > .record-header.show-more {
  background-image: url([[pix:tool_epman|collapsed_light]]);
}

.tool-epman .show-more:hover,
.tool-epman .record:hover > .record-header.show-more
{
  background-image: url([[pix:tool_epman|collapsed]]);
}

.tool-epman .record.expanded > .record-header.show-more {
  background-image: url([[pix:tool_epman|expanded]]);
}

.tool-epman .link-button,
.tool-epman .link-button > a {
  display: inline-block;
  padding-left: 0.75em;
  background-repeat: no-repeat;
  background-position: 0px center;
  font-size: small;
  font-weight: normal;
  cursor: pointer;
}

.tool-epman .link-button {
  margin-left: 0.5em;
}

.tool-epman .link-button:first-child {
  margin-left: 0px;
}

.tool-epman .link-button,
.tool-epman .link-button > a,
.tool-epman .link-button > a:visited,
.tool-epman .link-button:active,
.tool-epman .link-button:active > a,
.tool-epman .link-button > a:active,
.tool-epman .link-button:focus,
.tool-epman .link-button:focus > a,
.tool-epman .link-button > a:focus
{
  color: #098aba;
  outline: none;
}

.tool-epman .record > .record-header .link-button,
.tool-epman .record > .record-header .link-button > a
{
  color: #d0d0d0;
}

.tool-epman .record-header:hover .link-button,
.tool-epman .record.expanded > .record-header .link-button,
.tool-epman .record-header:hover .link-button > a,
.tool-epman .record.expanded > .record-header .link-button > a
{
  color: #098aba;
}

.tool-epman .link-button.nolink,
.tool-epman .link-button.nolink > a {
  color: black;
}

.tool-epman .record > .record-header .link-button.nolink,
.tool-epman .record > .record-header .link-button.nolink > a,
{
  color: #d0d0d0;
}

.tool-epman .record > .record-header:hover .link-button.nolink,
.tool-epman .record > .record-header:hover .link-button.nolink > a,
.tool-epman .record.expanded > .record-header .link-button.nolink,
.tool-epman .record.expanded > .record-header .link-button.nolink > a
{
  color: black;
}

.tool-epman .record > .record-header .link-button.light {
  display: none;
}

.tool-epman .record.expanded > .record-header .link-button.light {
  display: inline-block;
}

.tool-epman .link-button.light,
.tool-epman .link-button.light > a,
.tool-epman .record.expanded > .record-header .link-button.light,
.tool-epman .record.expanded > .record-header .link-button.light > a
{
  color: #a0a0a0;
}

.tool-epman .record > .record-header:hover .link-button.light.nolink,
.tool-epman .record > .record-header:hover .link-button.light.nolink > a,
.tool-epman .record .section-header:hover .link-button.light.nolink,
.tool-epman .program-module > .module-header:hover .link-button.light.nolink,
.tool-epman .record .section-header:hover .link-button.light.nolink > a,
.tool-epman .program-module > .module-header:hover .link-button.light.nolink > a
{
  color: black;
}

.tool-epman .record > .record-header:hover .link-button.light,
.tool-epman .record > .record-header:hover .link-button.light > a,
.tool-epman .record .section-header:hover .link-button.light,
.tool-epman .program-module > .module-header:hover .link-button.light,
.tool-epman .record .section-header:hover .link-button.light > a,
.tool-epman .program-module > .module-header:hover .link-button.light > a
{
  color: #098aba;
}

.tool-epman .link-button.right {
  margin-right: 0.5em;
  float: right;
}

.tool-epman .link-button.left {
  margin-left: 0.5em;
  float: left;
}

.tool-epman .link-button.responsible {
   background-image: url([[pix:tool_epman|user]]);
}

.tool-epman .record > .record-header .link-button.responsible,
.tool-epman .record .section-header .link-button.responsible,
.tool-epman .program-module > .module-header .link-button.responsible
{
  background-image: url([[pix:tool_epman|user_light]]);
}

.tool-epman .record > .record-header:hover .link-button.responsible,
.tool-epman .record.expanded > .record-header .link-button.responsible,
.tool-epman .record .section-header:hover .link-button.responsible,
.tool-epman .program-module > .module-header:hover .link-button.responsible
{
  background-image: url([[pix:tool_epman|user]]);
}

.tool-epman .link-button.groups {
   background-image: url([[pix:tool_epman|group]]);
 }

.tool-epman .record > .record-header .link-button.groups,
.tool-epman .record .section-header .link-button.groups,
.tool-epman .program-module > .module-header .link-button.groups
{
  background-image: url([[pix:tool_epman|group_light]]);
}

.tool-epman .record > .record-header:hover .link-button.groups,
.tool-epman .record.expanded > .record-header .link-button.groups,
.tool-epman .record .section-header:hover .link-button.groups,
.tool-epman .program-module > .module-header:hover .link-button.groups
{
  background-image: url([[pix:tool_epman|group]]);
}

.tool-epman .loading {
  background-image: url([[pix:tool_epman|loading]]);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100px;
}

.tool-epman .switch, .tool-epman .switch.off {
  padding-top: 0.15em;
  padding-left: 1.4em;
  padding-right: 4.0em;
  background-image: url([[pix:tool_epman|switch_off]]);
  background-position: right 0.25em center;
  background-repeat: no-repeat;
  line-height: 26px; /* switch_on/off.png */
}

.tool-epman .switch.on {
  background: url([[pix:tool_epman|switch_on]]) right no-repeat;
}

.tool-epman .panel {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: normal;
  line-height: 28px;
  vertical-align: middle;
}

.tool-epman .panel.right {
  text-align: right;
}

.tool-epman .panel.left {
  text-align: left;
}

.tool-epman .panel > .link-button.switch {
  font-size: medium;
  padding-left: 1.65em;
  background-color: #eee8a0;
  border-radius: 16px; /* switch_on/off.png */
}

.tool-epman .panel > .link-button.switch:hover {
  background-color: #f5f0cc;
}

.tool-epman .panel > .link-button.switch:hover:active,
.tool-epman .panel > .link-button.switch:active {
  background-color: #eee8a0;
}

.tool-epman .panel > .link-button.right {
  float: right;
}

.tool-epman .panel > .link-button.left {
  float: left;
}

.tool-epman .link-button.switch {
  background-position: left 0.25em center,right 2px center;  /* 2px: switch_on/off.png */
}

.tool-epman .panel > .link-button.switch {
  background-position: left 0.75em center,right 2px center;  /* 2px: switch_on/off.png */
  padding-left: 1.9em;
}

.tool-epman .link-button.switch.responsible, .tool-epman .link-button.switch.responsible.off {
  background-image: url([[pix:tool_epman|user]]), url([[pix:tool_epman|switch_off]]);
}

.tool-epman .link-button.switch.responsible.on {
  background-image: url([[pix:tool_epman|user]]), url([[pix:tool_epman|switch_on]]);
}

.tool-epman .list-section {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  font-size: large;
  font-weight: bold;
  color: black;
}

.tool-epman hr {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e0e0e0;
}

.tool-epman .record.expanded {
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 6px;
  margin-bottom: 0.25em;
}

.tool-epman .record-body {
  padding: 0px;
}

.tool-epman .record .description {
  font-size: small;
  font-style: italic;
  font-weight: normal;
  color: black;
}

.tool-epman .comment {
  font-size: inherit;
  font-style: italic;
  font-weight: normal;
  color: #a0a0a0;
}

.tool-epman .comment:before {
  content: "(";
}

.tool-epman .comment:after {
  content: ")";
}

.tool-epman .name-value {
  text-align: left;
  font-size: small;
  color: black;
  margin-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.tool-epman .name-value > span:first-child,
.tool-epman .name-value > td:first-child { 
  font-weight: bold;
}

.tool-epman .name-value > span:first-child:after,
.tool-epman .name-value > td:first-child:after {
  content: ":";
}

.tool-epman .name-value-table {
  width: 100%;
  margin: 0px;
}

.tool-epman .name-value-table .name-value > td:last-child {
  width: 100%;
}

.tool-epman .name-value-table .name-value > td.fullrow {
  width: 100%;
}

.tool-epman.dialog input,
.tool-epman.dialog textarea {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d0d0;
  font-size: small;
  resize: none;
}

.tool-epman .program-modules {
  padding: 0.25em;
}

.tool-epman .program-module-list {
}

.tool-epman .program-module {
  font-size: small;
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-weight: normal;
  margin-top: 0.5em;
  border-left: 3px solid #098aba;
}

/*.tool-epman .modules-period > .program-module:nth-child(2) {
  margin-top: 0.25em;
}*/

.tool-epman .program-module .module-header {
  background-color: #f8f8f8;
}

.tool-epman .program-module .module-header .name-value {
  display: inline-block;
  padding-left: 1.0em;
/*  font-size: medium; */
}

.tool-epman .program-module .module-header .name-value:first-child {
  padding-left: 0px;
}

.tool-epman .program-module .module-courses {
  display: block;
  text-align: left;
  margin-top: 0.25em;
}

.tool-epman ul {
  margin: 0px;
}

.tool-epman .program-module .module-course-list {
  display: inline-block;
  font-size: small;
}

.tool-epman .program-module .module-course-list > li {
  list-style-type: disc;
  margin-left: 1.25em;
  margin-right: 0.5em;
  float: left;
}

.tool-epman .program-module .module-course-list > li:last-child {
  margin-right: 0px;
}

.tool-epman .program-module-list .modules-period {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  border-left: 3px solid #2bacdc;
  padding-left: 0.25em;
}

.tool-epman .program-module-list .modules-period:first-child {
  margin-top: 0.5em;
}

.tool-epman .program-module-list .modules-period > .modules-period-header {
  font-size: small;
  text-align: left;
  color: black;
  font-style: italic;
  font-weight: normal;
  padding: 0px;
}

.tool-epman .program-vacation {
  font-size: small;
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-weight: normal;
  margin-top: 0.5em;
  border-left: 3px solid #ba8a09;
}

.tool-epman .program-module-list > .program-vacation {
  margin-top: 1.0em;
}

.tool-epman .page-footer {
  position: fixed;
  bottom: 0px;
  height: 4.0em;
  line-height: 4.0em;
  padding: 0px;
  margin-top: 0.25em;
  text-align: center;
  vertical-align: middle;
  background-color: #d6e0ff;
  border-top: 2px solid white;
}

.tool-epman .link-button.gotop {
  background-image: url([[pix:tool_epman|up]]);
  background-color: #e8e8ff;
  background-position: 1.0em center;
  padding-left: 2.25em;
  padding-right: 1.25em;
}

.tool-epman .link-button.gotop:hover {
  background-color: #efefff;
}

.tool-epman .record > .section-header,
.tool-epman .record > .record-body > .section-header {
  text-align: left;
  font-size: small;
  color: black;
  font-weight: bold;
  padding: 0.25em;
  margin-top: 0.50em;
  background-color: #f5f0cc;
}

.tool-epman .link-button.edit {
   background-image: url([[pix:tool_epman|edit]]);
 }

.tool-epman .record.expanded > .record-header .link-button.light.edit,
.tool-epman .record .section-header .link-button.light.edit,
.tool-epman .program-module > .module-header .link-button.light.edit
{
  background-image: url([[pix:tool_epman|edit_light]]);
}

.tool-epman .record.expanded > .record-header:hover .link-button.light.edit,
.tool-epman .record .section-header:hover .link-button.light.edit,
.tool-epman .program-module > .module-header:hover .link-button.light.edit
{
  background-image: url([[pix:tool_epman|edit]]);
}

.tool-epman .link-button.delete {
  background-image: url([[pix:tool_epman|delete]]);
  padding-left: 0.5em;
 }

.tool-epman .record.expanded > .record-header .link-button.light.delete,
.tool-epman .record .section-header .link-button.light.delete,
.tool-epman .program-module > .module-header .link-button.light.delete
{
  background-image: url([[pix:tool_epman|delete_light]]);
}

.tool-epman .record.expanded > .record-header:hover .link-button.light.delete,
.tool-epman .record .section-header:hover .link-button.light.delete,
.tool-epman .program-module > .module-header:hover .link-button.light.delete
{
  background-image: url([[pix:tool_epman|delete]]);
}

.tool-epman .link-button.add {
   background-image: url([[pix:tool_epman|add_color]]);
 }

.tool-epman .record.expanded > .record-header .link-button.light.add,
.tool-epman .record .section-header .link-button.light.add,
.tool-epman .program-module > .module-header .link-button.light.add
{
  background-image: url([[pix:tool_epman|add_light]]);
}

.tool-epman .record.expanded > .record-header:hover .link-button.light.add,
.tool-epman .record .section-header:hover .link-button.light.add,
.tool-epman .program-module > .module-header:hover .link-button.light.add
{
  background-image: url([[pix:tool_epman|add_color]]);
}

.tool-epman .multiselect-box {
  text-align: left;
}

.tool-epman .keyword-input-box {
  position: relative;
  margin-left: 0.25em;
}

.tool-epman .keyword-input {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d0d0;
  font-size: small;
}

.tool-epman .search-list-overlay {
  position: absolute;
  margin: 0px;
  padding: 0.25em;
  left : 0px;
  bottom : 0px;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d0d0;
  font-size: small;
}