
.tool-epman .vspace {
  margin-top: 2.0em;
}

.tool-epman .record-list {
  margin-top: 1.5em;
  margin-bottom: 1.0em;
}

/*.tool-epman .record.collapsed > .record-body {
  display: none;
}*/

.tool-epman .record-header {
  padding: 0.25em;
  padding-right: 0.5em;
  color: #098aba;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.2em;
  vertical-align: middle;
}

.tool-epman .record-header:hover, .tool-epman .record:hover > .record-header {
  background-color: #e8e8e8;
}

.tool-epman .show-more {
  background-image: url([[pix:tool_epman|collapsed]]);
  background-repeat: no-repeat;
  background-position: 0.25em center;
  padding-left: 2.0em;
}

.tool-epman .record-header.show-more {
  background-image: url([[pix:tool_epman|collapsed_light]]);
}

.tool-epman .show-more:hover,
.tool-epman .record:hover .show-more,
.tool-epman .record-header:hover.show-more {
  background-image: url([[pix:tool_epman|collapsed]]);
}

.tool-epman .show-more.expanded {
  background-image: url([[pix:tool_epman|expanded]]);
}

.tool-epman .show-more.expanded:hover,
.tool-epman .record:hover .show-more.expanded,
.tool-epman .record-header:hover.show-more.expanded {
  background-image: url([[pix:tool_epman|expanded]]);
}

.tool-epman .link-button {
  display: inline-block;
  padding-left: 1.8em;
  background-repeat: no-repeat;
  background-position: 0.25em center;
  font-size: small;
  font-weight: normal;
  cursor: pointer;
}

.tool-epman .link-button > a {
  color: #098aba;
}

.tool-epman .record-header .link-button > a {
  color: #d0d0d0;
}

.tool-epman .record-header:hover .link-button > a,
.tool-epman .record-header.expanded .link-button > a,
.tool-epman .record:hover .link-button > a {
  color: #098aba;
}

.tool-epman .link-button.nolink > a {
  color: black;
}

.tool-epman .record-header .link-button.nolink > a {
  color: #d0d0d0;
}

.tool-epman .record-header:hover .link-button.nolink > a,
.tool-epman .record-header.expanded .link-button.nolink > a,
.tool-epman .record:hover .link-button.nolink > a {
  color: black;
}

.tool-epman .link-button.right {
  margin-left: 0.5em;
  float: right;
}

.tool-epman .link-button.left {
  margin-right: 0.5em;
  float: left;
}

.tool-epman .link-button.responsible {
   background-image: url([[pix:tool_epman|user]]);
   padding-left: 1.6em;
 }

.tool-epman .record-header .link-button.responsible {
   background-image: url([[pix:tool_epman|user_light]]);
 }

.tool-epman .record-header:hover .link-button.responsible,
.tool-epman .record-header.expanded .link-button.responsible,
.tool-epman .record:hover > .record-header .link-button.responsible {
   background-image: url([[pix:tool_epman|user]]);
 }

.tool-epman .link-button.groups {
   background-image: url([[pix:tool_epman|group]]);
 }

.tool-epman .record-header .link-button.groups {
   background-image: url([[pix:tool_epman|group_light]]);
 }

.tool-epman .record-header:hover .link-button.groups,
.tool-epman .record-header.expanded .link-button.groups,
.tool-epman .record:hover > .record-header .link-button.groups {
  background-image: url([[pix:tool_epman|group]]);
}

.tool-epman .loading {
  background-image: url([[pix:tool_epman|loading]]);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100px;
}

.tool-epman .switch, .tool-epman .switch.off {
  padding-top: 0.15em;
  padding-left: 1.4em;
  padding-right: 4.0em;
  background-image: url([[pix:tool_epman|switch_off]]);
  background-position: right 0.25em center;
  background-repeat: no-repeat;
  line-height: 26px; /* switch_on/off.png */
}

.tool-epman .switch.on {
  background: url([[pix:tool_epman|switch_on]]) right no-repeat;
}

.tool-epman .panel {
  width: 100%;
  padding-top: 0.25em;
  padding: 0.25em;
  font-size: normal;
}

.tool-epman .panel.right {
  text-align: right;
}

.tool-epman .panel.left {
  text-align: left;
}

.tool-epman .panel > .link-button {
  font-size: medium;
  padding-left: 1.65em;
  background-color: #eee8a0;
  border-radius: 16px; /* switch_on/off.png */
}

.tool-epman .panel > .link-button:hover {
  background-color: #f5f0cc;
}

.tool-epman .panel > .link-button:hover:active, .tool-epman .panel > .link-button:active {
  background-color: #eee8a0;
}

.tool-epman .panel > .link-button.right {
  float: none;
}

.tool-epman .panel > .link-button.left {
  float: none;
}

.tool-epman .link-button.switch {
  background-position: left 0.25em center,right 2px center;  /* 2px: switch_on/off.png */
}

.tool-epman .panel > .link-button.switch {
  background-position: left 0.75em center,right 2px center;  /* 2px: switch_on/off.png */
  padding-left: 1.9em;
}

.tool-epman .link-button.switch.responsible, .tool-epman .link-button.switch.responsible.off {
  background-image: url([[pix:tool_epman|user]]), url([[pix:tool_epman|switch_off]]);
}

.tool-epman .link-button.switch.responsible.on {
  background-image: url([[pix:tool_epman|user]]), url([[pix:tool_epman|switch_on]]);
}

.tool-epman .list-section {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  font-size: large;
  font-weight: bold;
  color: black;
}

.tool-epman .list-section-header > hr {
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e0e0e0;
}